<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资源分享网</title>
    <link rel="shortcut icon" href="/static/foreground/images/logomin.png" type="images/x-icon"/>
    <link rel="stylesheet" href="/static/foreground/layui/css/layui.css"/>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/layui/layui.js"></script>
</head>
<body>
<div style="padding:10px; text-align: center;">
    下载地址:<a th:href="${article.download}" target="_blank" th:text="${article.download}"></a>
    <br/>
    密码:<font color="red" th:text="${article.password}" ></font>
    <div style="text-align: center;margin-top: 40px;color: red;">
        本资源网站内容是网友分享，仅供学习交流，请勿作他用，谢谢！
    </div>
</div>
</body>
</html>