<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>资源分享网</title>
    <link rel="shortcut icon" href="/static/foreground/images/logomin.png" type="images/x-icon"/>
    <link rel="stylesheet" href="/static/foreground/layui/css/layui.css"/>
    <link rel="stylesheet" href="/static/foreground/css/global.css"/>
    <script src="/static/js/jquery-1.8.3.min.js"></script>
    <script src="/static/layui/layui.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/unUsefulArticleManage.js"></script>
</head>
<body>
<div th:replace="common/header::#h"></div>
<div class="layui-container fly-marginTop fly-user-main">
    <div th:replace="common/left::#l"></div>
    <div class="fly-panel fly-panel-user" pad20>
        <div class="layui-tab layui-tab-brief" lay-filter="user">
            <div class="layui-tab-content" style="padding: 20px 0;">
                <div class="layui-tab-item layui-show">

                    <ul class="mine-view jie-row">
                        <li th:each="userDownload :${userDownloadList}">
                            <span th:if="${userDownload.article.hot}" class="layui-badge layui-bg-red">热门</span>
                            <a class="jie-title" target="_blank"
                               th:href="@{'/article/detail/'+${userDownload.article.articleId}+'.html'}"
                               th:text="${userDownload.article.name}"></a>
                            <i th:text="${#dates.format(userDownload.downloadDate,'yyyy-MM-dd HH:mm')}"></i>
                            <em th:text="${userDownload.article.click}+'阅读'"></em>
                        </li>
                    </ul>
                    <div style="text-align: center;" th:utext="${pageStr}"></div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div>

<div th:replace="common/footer.html::#f"></div>
</body>
</html>
