<div class="fly-footer" id="f">
    <p><a>资源分享网</a> 2020 &copy; <a href="http://www.baidu.com" target="_blank">shuaiwei 出品</a></p>
    <p>
        <a onclick="mzsm()">免责申明</a>
        <a href="http://wpa.qq.com/msgrd?v=3&uin=986527557&site=qq&menu=yes" target="_blank" style="color: red">侵权举报</a>
        <a href="http://wpa.qq.com/msgrd?v=3&uin=986527557&site=qq&menu=yes" target="_blank">广告合作</a>
        <a href="http://www.baidu.com" target="_blank">站长博客</a>
        <script type="text/javascript" src="//js.users.51.la/20732479.js"></script>
    </p>
    <p ><a>Copyright</a>&copy; 2020 <a>资源分享网&nbsp;&nbsp;&nbsp;&nbsp;版权所有</a>

</div>