<div id="h" class="fly-header layui-bg-black">
    <div class="layui-container">
        <a class="fly-logo" href="/">
            <img src="/static/foreground/images/logo.png" style="width: 140px;height: 40px;"
                 alt="资源分享网">
        </a>
        <ul class="layui-nav fly-nav layui-hide-xs">
            <li class="layui-nav-item">
                <a href="/buyVIP"><i class="iconfont icon-kiss"></i>充值积分</a>
            </li>
            <li class="layui-nav-item">
                <a href="/fbzyzjf"><i class="iconfont icon-kiss"></i>发布资源赚积分 </a>
            </li>
        </ul>
    </div>

    <!-- 未登录状态-->
    <ul th:if="${session.currentUser==null}" class="layui-nav fly-nav-user">
        <li class="layui-nav-item">
            <a class="iconfont icon-touxiang layui-hide-xs" href="javascript:login()"></a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:login()">登录</a>
        </li>
        <li class="layui-nav-item">
            <a href="javascript:register()">注册</a>
        </li>
        <li class="layui-nav-item">
            <a class="iconfont icon-qq" href="/qqLogin" title="QQ登录"></a>
        </li>
    </ul>

    <!-- 登录状态-->
    <ul th:if="${session.currentUser!=null}" class="layui-nav fly-nav-user">
        <li id="loginLi" class="layui-nav-item" style="height: 65px;">
            <a class="fly-nav-avatar">
                <cite class="layui-hide-xs" th:utext="${session.currentUser.nickname}">...</cite>
                <i th:if="${session.currentUser.vip==true}" class="iconfont icon-renzheng layui-hide-xs"
                   title="会员认证"></i>
                <i th:if="${session.currentUser.vip==true}" class="layui-badge fly-badge-vip layui-hide-xs"
                   th:text="'VIP'+${session.currentUser.vipGrade}">VIP</i>
                <span th:if="${session.currentUser.messageCount>0||session.unUsefulArticleCount>0}"
                      style="top: 26px; " class="layui-badge-dot"></span>
                <img  id="titleHeadPortrait" th:src="'/static/img/'+${session.currentUser.headPortrait}">
            </a>

            <dl class="layui-nav-child layui-anim layui-anim-scale">
                <dd><a href="/user/home"><i class="layui-icon" style="font-size: 22px;margin-left: 2px;">&#xe68e;</i>我的主页</a>
                </dd>
                <dd><a href="/user/userCenter"><i class="layui-icon"
                                                  style="font-size: 22px;margin-left: 2px;">&#xe612;</i>用户中心</a></dd>
                <dd><a href="/user/userMessage/1"><i class="iconfont icon-tongzhi" style="top: 4px;"></i>我的消息</a></dd>
                <dd><a href="/user/articleManager"><i class="layui-icon" style="font-size: 22px;margin-left: 2px;">
                    &#xe620;</i>资源管理</a>
                </dd>
                <dd><a href="/user/toHaveDownloaded/1"><i class="layui-icon" style="font-size: 22px;margin-left: 2px;">&#xe857;</i>已下载资源</a>
                </dd>
                <hr style="margin: 5px ;">
                <dd><a href="/buyVIP"><i class="layui-icon" style="font-size: 22px;margin-left: 2px;">&#xe735;</i>升级为VIP</a>
                </dd>
                <dd><a href="javascript:userLogout()" style="text-align: center">退出</a></dd>
            </dl>

        </li>
    </ul>

</div>